.navContent {
	display: grid;
	grid-template-columns: 3fr 1fr;
	background-color: #ffab40ff;
	color: #0097a7;
	font-family: 'Lobster', cursive;
}
.navLinks {
	margin: auto;
	font-size: 120%;
	color: #0097a7;
	text-decoration: none;
}
h1 {
	padding-left: 20px;
}
