.home {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 5;
	text-align: center;
	margin: auto;
}

img {
	margin: auto;
	border-width: thin;
}
input {
	margin: auto;
}

.quote {
	font-family: 'Ranchers', cursive;
}

.currentImg {
	border-color: black;
	border-width: 10px;
}

.newImg {
	margin: 20px 0 0 0;
	max-width: 500px;
}
