.home {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 5;
	text-align: center;
	margin: auto;
}

img {
	margin: auto;
}
input {
	margin: auto;
}

.quote {
	font-family: 'Ranchers', cursive;
}
