.home {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 5;
	text-align: center;
	margin: auto;
	
}

img {
	margin: auto;
}
input {
	margin: auto;
}

.quote {
	font-family: 'Ranchers', cursive;
}



.newImg{
	margin: 20px 0 0 0;
	border-width: thin;
	max-width: 500px;
}